.statistics{
    margin-top: 20px;
    width: 330px;
    border: 1px solid;
    background-color: rgb(182, 248, 221);
    margin-left: auto;
    margin-right: auto;
   
}
.title{
 margin-left: 80px;
 color: blue;
    
}
.statlist{
    padding: 0;
    display: flex;
    gap: 5px;
}
.label{
font-size: larger;
font-weight: 500;
color: rgb(222, 223, 241);
}
.percentage{
 font-size:x-large;
font-weight: 700;
color: rgb(222, 223, 241);
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}